<div class="viajes--container">
  <div class="viajes--content">
    <section class="search">
      <input type="text" placeholder="Buscar Viaje...">
      <i class='bx bx-search-alt'></i>
    </section>
    <section class="table--container">
      <div class="tabla--content">
        <div class="table"  *ngFor="let travel of travels">
          <app-card *ngIf="travel.travelEquipmentDTOs[travel.travelEquipmentDTOs.length -1].cadete.id == userID"
            direccion="{{travel.travelEquipmentDTOs[0].equipment.cliente.address}}"
            estado=" {{travel.lastStatusTravel | statusTravelTraductor}}"
            hora=" {{travel.travelEquipmentDTOs[travel.travelEquipmentDTOs.length -1].operationDate | date:'shortTime' }} "
            equipo=" {{travel.travelEquipmentDTOs[0].equipment.mark}} "
            cliente=" {{travel.travelEquipmentDTOs[0].equipment.cliente.fullName}} "
            ></app-card>
        </div>
      </div>
    </section>
  </div>
</div>
