<div class="form--container">
  <div class="img-content">
    <img src="../../../../assets/img/travel-moto.svg" alt="">
  </div>
  <div class="form--content">
    <form action="">
      <h1>Formulario de Retiro de Equipo</h1>
      <div class="input-group">
        <input type="text" placeholder="  Marca"  formControlName="Marca">
      </div>
      <div class="input-group">
        <input type="text" placeholder="  Modelo"  formControlName="Modelo">
      </div>
      <div class="input-group">
        <input type="text" placeholder="  Falla"  formControlName="Falla">
      </div>
      <div class="input-group">
        <input type="text" placeholder="  Dirrección"  formControlName="Dirrección">
      </div>
      <div class="input-group fecha">
        <input type="datetime-local" placeholder="  Fecha"  formControlName="Fecha">
      </div>
      <button>Solicitar</button>
    </form>
  </div>
</div>
