<div class="form--container">
  <div class="img-content">
    <img src="../../../../assets/img/travel-moto.svg" alt="">
  </div>
  <div class="form--content">
    <form [formGroup]="solicitarViajeForm" (ngSubmit)="solicitar()" >
      <h1>Formulario de Retiro de Equipo</h1>
      <div class="input-group">
        <input type="text" placeholder="  Marca"  formControlName="Marca" formControlName="mark">
      </div>
      <div class="input-group">
        <input type="text" placeholder="  Modelo"  formControlName="Modelo" formControlName="model">
      </div>
      <div class="input-group">
        <input type="text" placeholder="  Falla"  formControlName="Falla" formControlName="failure">
      </div>
      <button type="submit" >Solicitar</button>

      <p>{{status}}</p>
    </form>
  </div>
</div>
