.viajes--container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .viajes--content{
    width: 80%;
    height: 100%;

    display: grid;
    place-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;

    .search{
      grid-row: 1;
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      input{
        width: 50%;
        height: 35%;
        background-color: var(--veryDarkBlue);
        border: none;
        border-radius: 2px 0 0 2px;
      }
      i{
        background-color: var(--veryDarkBlue);
        color: var(--darkGray);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.5rem;
        height: 35%;
        border: none;
        border-radius: 0 2px 2px 0;
      }
    }
    .table--container{
      grid-row: 2;
      width: 100%;
      min-width: 350px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      overflow-y: scroll;
      .tabla--content{
        width: 80%;
        height: 90%;
        .table{
          border: none;
        }
      }
    }
  }
}
