<div class="table--container">
  <section class="header">
    <h1>{{title}}</h1>

    <div class="search">
      <input placeholder="  search" type="text" [(ngModel)]="filter">
      <div class="icon"><i class='bx bx-search-alt'></i></div>
    </div>
  </section>
  <section class="body">
    <div class="table">
      <div class="header-table">
          <div  class="column"  *ngFor="let colum of columnas">{{colum}}</div>
      </div>
      <div class="body-table" *ngFor="let viaje of tableInfo | filterViajes:filter | paginator:page_size:page_number" >
        <app-columna
          fecha="{{viaje.creationDate | date:'shortDate'}}"
          marca="{{viaje.travelEquipmentDTOs[viaje.travelEquipmentDTOs.length -1].equipment.mark}}"
          modelo="{{viaje.travelEquipmentDTOs[viaje.travelEquipmentDTOs.length -1].equipment.model}}"
          EstadoEquipo="{{viaje.travelEquipmentDTOs[viaje.travelEquipmentDTOs.length -1].statusTravel | statusTravelTraductor}}"
          EstadoEnvio="{{viaje.lastStatusTravel | statusTravelTraductor}}"
          FechaEntrega="{{viaje.travelEquipmentDTOs[viaje.travelEquipmentDTOs.length -1].operationDate | date:'shortDate'}}"
          [history]="history"
        ></app-columna>
      </div>
      <div class="footer-table">
        <mat-paginator [length]="tableInfo.length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions"
          (page)="handlePage($event)" aria-label="Select page">
        </mat-paginator>
      </div>
    </div>
  </section>
</div>

