<div class="register--container">
  <div class="register--content">
    <h1>Register</h1>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="input-group">
        <input type="text" placeholder="Nombre Completo" formControlName="fullName">
        <i class='bx bxs-user-detail'></i>
      </div>
      <div class="input-group">
        <input type="email" placeholder="Email" formControlName="email">
        <i class='bx bx-envelope'></i>
      </div>
      <div class="input-group">
        <input type="password" placeholder="Password" formControlName="password">
        <i class='bx bxs-lock-alt'></i>
      </div>
      <div class="input-group">
        <input type="text" placeholder="Direccion" formControlName="address">
        <i class='bx bx-map'></i>
      </div>
      <div class="input-group">
        <input type="text" placeholder="Telefono" formControlName="cellPhone">
        <i class='bx bx-phone'></i>
      </div>
      <button type="submit">
        Registrarse
      </button>
    </form>
    <div class="status-message">
      <p>{{statusRegister}}</p>
    </div>
    <p>¿Ya tienes cuenta? <a [routerLink]="['../login']">¡Inciar Sesion!</a></p>
  </div>
</div>
