<div class="viajes--container">
  <div class="viajes--content">
    <section class="search">
      <input type="text" placeholder="Buscar Viaje...">
      <i class='bx bx-search-alt'></i>
    </section>
    <section class="table--container">
      <div class="tabla--content">
        <div class="table">
          <app-card direccion="CABA" estado="Retiro" hora="12:59" equipo="CPU" cliente="Cabrera Nicolas"></app-card>
          <app-card direccion="Posadas Misiones" estado="Entrega" hora="22:52" equipo="Notebook" cliente="Sr Thompson" [enCurso]="true"></app-card>
          <app-card></app-card>
        </div>
      </div>
    </section>
  </div>
</div>
